

.read-more-container {
    display: flex;
    justify-content: center;
}

/*timeline css start*/


.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-container {
    padding-bottom: 40px;
    position: relative;
    width: 50%;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -6px;
    background-color: white;
    border: 4px solid black;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.timeline-container-left {
    left: 0;
    padding-right: 40px;
    text-align: right;
}

.timeline-container-right {
    left: 50%;
    padding-left: 40px;
}

.timeline-container-right::after {
    left: -9px;
}

.my-journey-heading {
    text-align: center;
    margin-bottom: 60px;
}

.what-next-container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.what-next {
    width: 60%;
    text-align: center;
}

@media (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-container-left {
        left: 0;
        padding-right: 40px;
        text-align: left;
    }

    .timeline-container-left::after, .timeline-container-right::after {
        left: 22px;
    }

    .timeline-container-right {
        left: 0;
    }

    .my-journey-heading {
        text-align: center;
        margin-bottom: 40px;
    }

    .what-next-container {
        display: block;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .what-next {
        width: 100%;
        text-align: left;
    }


}

/*timeline css end*/





/*mobile breakpoint*/
@media (max-width: 499px ) {

    .about-config {
        display: block;
    }

    .about-hero-section {
        
        padding: 20px 0;
        
    }

    .about-hero-image {
        width: 100%;
    }

    .driving-container {
        display: block;
    }

    .driving-photo-container {
        width: 100%;
    }

    .driving-text-container {
        width: 100%;
        padding-bottom: 20px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 4px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: block;
        padding: 20px 0;
    }

    .food-image-container {
        width: 100%;
        padding: 5px;
    }

    .food-image {
        width: 100%;
        border-radius: 4px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left {
        margin-bottom: 10px;
    }

    .food-image-right {
        margin-top: 10px;
    }

    .articles-container {
        display: block;
        padding: 20px 0;
    }

    .article-display {
        width: 100%;
        padding: 5px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .article-display:hover {
        transform: scale(1.05);
        transition-delay: 0s !important;
    }

    .article-left {
        margin-bottom: 25px;
    }

    .article-right {
        margin-top: 25px;
    }

    .article-title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
    }

    .read-more-button {
        text-align: center;
        font-size: 14px;
        padding: 12px 20px;
        border: 1px solid black;
        border-radius: 10px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: black;
        color: white;
    }



}

/*tablet breakpoint*/
@media (min-width: 500px ) and (max-width: 799px){

    .about-config {
        display: flex;
        align-items: flex-start;
    }

    .about-hero-section {
        padding: 40px 0;
        
    }

    .about-hero-image {
        width: 45%;
    }

    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left, .article-left {
        margin-right: 20px;
    }

    .food-image-right, .article-right {
        margin-left: 20px;
    }

    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-display {
        width: auto;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .article-display:hover {
        transform: scale(1.05);
        transition-delay: 0s !important;
    }


    .article-title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
    }

    .read-more-button {
        text-align: center;
        font-size: 15px;
        padding: 12px 20px;
        border: 1px solid black;
        border-radius: 10px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: black;
        color: white;
    }


}

/*large tablet breakpoint*/
@media (min-width: 800px ) and (max-width: 1099px){

    .about-config {
        display: flex;
        align-items: flex-start;
    }

    .about-hero-section {
    
        padding: 40px 0;
        
    }

    .about-hero-image {
        width: 45%;
    }


    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left, .article-left {
        margin-right: 20px;
    }

    .food-image-right, .article-right {
        margin-left: 20px;
    }

    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-display {
        width: auto;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .article-display:hover {
        transform: scale(1.05);
        transition-delay: 0s !important;
    }

    .article-title {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }

    .read-more-button {
        text-align: center;
        font-size: 16px;
        padding: 12px 20px;
        border: 1px solid black;
        border-radius: 10px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: black;
        color: white;
    }


}

/*desktop breakpoint*/
@media (min-width: 1100px ) and (max-width: 1499px) {

    .about-config {
        display: flex;
        align-items: flex-start;
    }

    .about-hero-section {
        padding: 50px 0;
        
    }

    .about-hero-image {
        width: 45%;
    }



    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left, .article-left {
        margin-right: 20px;
    }

    .food-image-right, .article-right {
        margin-left: 20px;
    }


    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-display {
        width: auto;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .article-display:hover {
        transform: scale(1.05);
        transition-delay: 0s !important;
    }

    .article-title {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }



    .read-more-button {
        text-align: center;
        font-size: 16px;
        padding: 12px 20px;
        border: 1px solid black;
        border-radius: 10px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: black;
        color: white;
    }


}


/*large desktop breakpoint*/
@media (min-width: 1500px ) {

    .about-config {
        display: flex;
        align-items: flex-start;
    }


    .about-hero-section {
        
        padding: 60px 0;
        
    }

    .about-hero-image {
        width: 30%;
    }


    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 8px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 8px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left, .article-left {
        margin-right: 20px;
    }

    .food-image-right, .article-right {
        margin-left: 20px;
    }

    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-display {
        width: auto;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .article-display:hover {
        transform: scale(1.05);
        transition-delay: 0s !important;
    }

    .article-title {
        font-size: 20px;
        font-weight: 500;
        margin-top: 12px;
    }

    .read-more-button {
        text-align: center;
        font-size: 18px;
        padding: 15px 22px;
        border: 1px solid black;
        border-radius: 10px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: black;
        color: white;
    }



}