

.read-more-container {
    display: flex;
    justify-content: center;
}



/*mobile breakpoint*/
@media (max-width: 499px ) {

    .about-hero-section {
        text-align: center;
        padding: 20px 0;
        background: var(--light-98);
    }

    .about-hero-image {
        width: 100%;
    }

    .driving-container {
        display: block;
    }

    .driving-photo-container {
        width: 100%;
    }

    .driving-text-container {
        width: 100%;
        padding-bottom: 20px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 4px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: block;
        padding: 20px 0;
    }

    .food-image-container {
        width: 100%;
        padding: 5px;
    }

    .food-image {
        width: 100%;
        border-radius: 4px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left {
        margin-bottom: 10px;
    }

    .food-image-right {
        margin-top: 10px;
    }

    .articles-container {
        display: block;
        padding: 20px 0;
    }

    .article-title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
    }

    .read-more-button {
        text-align: center;
        font-size: 14px;
        padding: 12px 20px;
        border: 1px solid var(--dark);
        border-radius: 30px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: var(--dark);
        color: var(--white);
    }

}

/*tablet breakpoint*/
@media (min-width: 500px ) and (max-width: 799px){

    .about-hero-section {
        text-align: center;
        padding: 40px 0;
        background: var(--light-98);
    }

    .about-hero-image {
        width: 75%;
    }

    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left {
        margin-right: 20px;
    }

    .food-image-right {
        margin-left: 20px;
    }

    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
    }

    .read-more-button {
        text-align: center;
        font-size: 15px;
        padding: 12px 20px;
        border: 1px solid var(--dark);
        border-radius: 30px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: var(--dark);
        color: var(--white);
    }


}

/*large tablet breakpoint*/
@media (min-width: 800px ) and (max-width: 1099px){

    .about-hero-section {
        text-align: center;
        padding: 40px 0;
        background: var(--light-98);
    }

    .about-hero-image {
        width: 60%;
    }


    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left {
        margin-right: 20px;
    }

    .food-image-right {
        margin-left: 20px;
    }

    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-title {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }

    .read-more-button {
        text-align: center;
        font-size: 16px;
        padding: 12px 20px;
        border: 1px solid var(--dark);
        border-radius: 30px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: var(--dark);
        color: var(--white);
    }

}

/*desktop breakpoint*/
@media (min-width: 1100px ) and (max-width: 1499px) {

    .about-hero-section {
        text-align: center;
        padding: 50px 0;
        background: var(--light-98);
    }

    .about-hero-image {
        width: 60%;
    }



    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 6px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left {
        margin-right: 20px;
    }

    .food-image-right {
        margin-left: 20px;
    }


    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-title {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }



    .read-more-button {
        text-align: center;
        font-size: 16px;
        padding: 12px 20px;
        border: 1px solid var(--dark);
        border-radius: 30px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: var(--dark);
        color: var(--white);
    }

}


/*large desktop breakpoint*/
@media (min-width: 1500px ) {


    .about-hero-section {
        text-align: center;
        padding: 60px 0;
        background: var(--light-98);
    }

    .about-hero-image {
        width: 60%;
    }


    .driving-container {
        display: flex;
        align-items: center;
    }

    .driving-photo-container {
        width: 35%;
    }

    .driving-text-container {
        width: 65%;
        padding-right: 40px;
    }

    .driving-photo {
        width: 100%;
        border-radius: 8px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-container {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    .food-image-container {
        width: auto;
    }

    .food-image {
        width: 100%;
        border-radius: 8px;
        /*box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);*/
    }

    .food-image-left {
        margin-right: 20px;
    }

    .food-image-right {
        margin-left: 20px;
    }

    .articles-container {
        display: flex;
        padding: 40px 0;
    }

    .article-title {
        font-size: 20px;
        font-weight: 500;
        margin-top: 12px;
    }

    .read-more-button {
        text-align: center;
        font-size: 18px;
        padding: 15px 22px;
        border: 1px solid var(--dark);
        border-radius: 50px;
        width: max-content;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .read-more-button:hover {
        background: var(--dark);
        color: var(--white);
    }


}