:root{
    --blue: #2196f3;
    --dark: #203446;
    --light: #fafbfb;
    --light2: #f5f6f7;
}

* {
    color: var(--dark);
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: var(--dark);
    text-decoration: none;
}

/*mobile breakpoint*/
@media (max-width: 499px ) {

    .container {
        width: 100%;
        margin: auto;
    }

    .header {
        background: white;
        padding: 20px 0;
    }

    .header-container {
        display: block;
    }

    .logo {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: var(--dark);
    }

    .navigation {
        display: flex;
        justify-content: center;
    }

    .navigation-item {
        margin: 20px;
        font-size: 16px;
        color: var(--dark);
        cursor: pointer;
    }

    .navigation-item:hover {
        border-bottom: 10px solid var(--blue);
        height: 1.5em;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .navigation-item-selected {
        margin: 20px;
        font-size: 16px;
        color: var(--dark);
        border-bottom: 10px solid var(--blue);
        height: 1.5em;
        cursor: pointer;
    }


    .footer {
        padding: 20px 0;
        background: var(--light2);
    }

    .social-links-container {
        display: block;
    }

    .social-link {
        text-align: center;
        font-size: 16px;
        color: var(--dark);
        padding: 20px;
    }

    .copyright-statement {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: var(--dark);
        padding: 20px;
    }
}

/*tablet breakpoint*/
@media (min-width: 500px ) and (max-width: 799px){

    .container {
        width: 100%;
        max-width: 720px;
        margin: auto;
    }


    .header {
        background: white;
        padding: 20px 0;
    }


    .header-container {
        display: block;
    }


    .logo {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: var(--dark);
    }

    .navigation {
        display: flex;
        justify-content: center;
    }

    .navigation-item {
        margin: 20px;
        font-size: 18px;
        color: var(--dark);
        cursor: pointer;
    }

    .navigation-item:hover {
        border-bottom: 10px solid var(--blue);
        height: 1.5em;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .navigation-item-selected {
        margin: 20px;
        font-size: 18px;
        color: var(--dark);
        border-bottom: 10px solid var(--blue);
        height: 1.5em;
        cursor: pointer;
    }



    .footer {
        padding: 20px 0;
        background: var(--light2);
    }

    .social-links-container {
        display: flex;
        justify-content: center;
    }

    .social-link {
        text-align: center;
        font-size: 18px;
        color: var(--dark);
        padding: 20px;
    }

    .copyright-statement {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: var(--dark);
        padding: 20px;
    }

}

/*large tablet breakpoint*/
@media (min-width: 800px ) and (max-width: 1099px){


    .container {
        width: 100%;
        max-width: 850px;
        margin: auto;
    }

    .header {
        background: white;
        padding: 20px 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-weight: 700;
        font-size: 40px;
        color: var(--dark);
    }

    .navigation {
        display: flex;
    }

    .navigation-item {
        margin: 20px;
        font-size: 20px;
        color: var(--dark);
        cursor: pointer;
    }

    .navigation-item:hover {
        border-bottom: 13px solid var(--blue);
        height: 1.5em;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .navigation-item-selected {
        margin: 20px;
        font-size: 20px;
        color: var(--dark);
        border-bottom: 13px solid var(--blue);
        height: 1.5em;
        cursor: pointer;
    }



    .footer {
        padding: 20px 0;
        background: var(--light2);
    }

    .social-links-container {
        display: flex;
        justify-content: center;
    }

    .social-link {
        text-align: center;
        font-size: 18px;
        color: var(--dark);
        padding: 20px;
    }

    .copyright-statement {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: var(--dark);
        padding: 20px;
    }

}

/*desktop breakpoint*/
@media (min-width: 1100px ) and (max-width: 1499px) {

    .container {
        width: 100%;
        max-width: 1040px;
        margin: auto;
    }

    .header {
        background: white;
        padding: 20px 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-weight: 700;
        font-size: 40px;
        color: var(--dark);
    }

    .navigation {
        display: flex;
    }

    .navigation-item {
        margin: 20px;
        font-size: 20px;
        color: var(--dark);
        cursor: pointer;
    }

    .navigation-item:hover {
        border-bottom: 13px solid var(--blue);
        height: 1.5em;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .navigation-item-selected {
        margin: 20px;
        font-size: 20px;
        color: var(--dark);
        border-bottom: 13px solid var(--blue);
        height: 1.5em;
        cursor: pointer;
    }



    .footer {
        padding: 40px 0;
        background: var(--light2);
    }

    .social-links-container {
        display: flex;
        justify-content: center;
    }

    .social-link {
        text-align: center;
        font-size: 18px;
        color: var(--dark);
        padding: 20px;
    }

    .copyright-statement {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: var(--dark);
        padding: 20px;
    }


}


/*large desktop breakpoint*/
@media (min-width: 1500px ) {

    .container {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    .header {
        background: white;
        padding: 40px 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-weight: 700;
        font-size: 50px;
        color: var(--dark);
    }

    .navigation {
        display: flex;
    }

    .navigation-item {
        margin: 20px;
        font-size: 24px;
        color: var(--dark);
        cursor: pointer;
    }

    .navigation-item:hover {
        border-bottom: 13px solid var(--blue);
        height: 1.5em;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .navigation-item-selected {
        margin: 20px;
        font-size: 24px;
        color: var(--dark);
        border-bottom: 13px solid var(--blue);
        height: 1.5em;
        cursor: pointer;
    }


    .footer {
        padding: 40px 0;
        background: var(--light2);
    }

    .social-links-container {
        display: flex;
        justify-content: center;
    }

    .social-link {
        text-align: center;
        font-size: 24px;
        color: var(--dark);
        padding: 20px;
    }

    .copyright-statement {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        color: var(--dark);
        padding: 20px;
    }


}