:root{
    --blue: #2196f3;
    --dark: #203446;
    --light: #fafbfb;
    --light2: #f5f6f7;
    --easyglance-accent: #f0c343;
    /*--easyglance-background: #fcf3d9;*/
    --easyglance-background: #ECCD72;
}

.easyglance-accent {
    color: var(--easyglance-accent);
}

.easyglance-background {
    background: var(--easyglance-background);
}

/*mobile breakpoint*/
@media (max-width: 499px) {

    .easyglance-hero-section {
        padding-top: 40px;
    }

    .user-personas-container {
        display: block;
    }

    .user-persona, .user-need {
        width: 100%;
        padding: 20px;
        background: var(--light2);
        border-radius: 4px;
        margin: 20px 0;
    }

    .user-persona-image-container {
        text-align: center;
    }

    .user-persona-text-container {
        display: block;
    }

    .user-persona-image {
        width: 30%;
    }

    .user-persona-name {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
    }

    .user-persona-highlights {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }

    .user-persona-description {
        font-size: 14px;
        padding: 20px 0;
        color: var(--grey-20);
    }

    .user-pain-point-heading {
        font-size: 14px;
        font-weight: 600;
    }

    .user-pain-point-description {
        font-size: 14px;
        color: var(--grey-20);
    }

    .user-needs-container {
        display: block;
    }


    .user-need-number {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
    }

    .user-need-text {
        font-size: 14px;
        padding: 20px 0;
        text-align: center;
        color: var(--grey-20);
    }

    .table-custom {
        margin-top: 20px;
        font-size: 10px;
    }

    .table-custom .material-icons-round {
        font-size: 12px;
    }

    td {
        text-align: center;
    }

    th {
        width: 25%;
    }

    .table-left-radius {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .table-right-radius {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background: var(--light2);
    }

    .storyboards-container {
        display: block;
    }

    .storyboard {
        width: 100%;
        padding: 20px 0;
    }

    figcaption {
        text-align: center;
        padding: 10px;
        font-size: 14px;
    }

}

/*tablet breakpoint*/
@media (min-width: 500px) and (max-width: 799px) {


    .easyglance-hero-section {
        padding-top: 50px;
    }


    .user-personas-container {
        display: block;
    }

    .user-persona {
        width: 100%;
        padding: 20px;
        background: var(--light2);
        border-radius: 6px;
        margin: 20px 0;
        display: flex;
        align-items: center;
    }

    .user-persona-image-container {
        text-align: center;
        width: 30%;
    }

    .user-persona-text-container {
        display: block;
        width: 70%;
    }

    .user-persona-image {
        width: 100%;
    }

    .user-persona-name {
        font-weight: 500;
        font-size: 20px;
    }

    .user-persona-highlights {
        font-size: 15px;
        font-weight: 500;
    }

    .user-persona-description {
        font-size: 15px;
        padding: 20px 0;
        color: var(--grey-20);
    }

    .user-pain-point-heading {
        font-size: 15px;
        font-weight: 600;
    }

    .user-pain-point-description {
        font-size: 15px;
        color: var(--grey-20);
    }

    .user-need {
        width: 33.33%;
        padding: 10px;
        background: var(--light2);
        margin: 10px;
        border-radius: 6px;
    }

    .user-need-left {
        margin-left: 0 !important;
    }

    .user-need-right {
        margin-right: 0 !important;
    }

    .user-needs-container {
        display: flex;
    }

    .user-need-number {
        text-align: center;
        font-weight: 800;
        font-size: 22px;
    }

    .user-need-text {
        font-size: 15px;
        padding: 20px 0;
        text-align: center;
        color: var(--grey-20);
    }


    .table-custom {
        margin-top: 20px;
        font-size: 12px;
    }

    .table-custom .material-icons-round {
        font-size: 15px;
    }

    td {
        text-align: center;
    }

    th {
        width: 25%;
    }

    .table-left-radius {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .table-right-radius {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background: var(--light2);
    }

    .storyboards-container {
        display: flex;
        justify-content: center;
    }

    .storyboard {
        width: 40%;
        margin: 20px;
    }

    figcaption {
        text-align: center;
        padding: 10px;
        font-size: 14px;
    }

}

/*large tablet breakpoint*/
@media (min-width: 800px) and (max-width: 1099px) {


    .easyglance-hero-section {
        padding-top: 50px;
    }


    .user-personas-container {
        display: flex;
        padding: 20px 0;
    }

    .user-persona, .user-need {
        width: 33.33%;
        padding: 20px;
        background: var(--light2);
        margin: 20px;
        border-radius: 6px;
    }

    .user-persona-image-container {
        text-align: center;
    }

    .user-persona-text-container {
        display: block;
    }

    .user-persona-image {
        width: 50%;
    }

    .user-persona-name {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }

    .user-persona-highlights {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .user-persona-description {
        font-size: 16px;
        padding: 20px 0;
        color: var(--grey-20);
    }

    .user-pain-point-heading {
        font-size: 16px;
        font-weight: 600;
    }

    .user-pain-point-description {
        font-size: 16px;
        color: var(--grey-20);
    }

    .user-need-left {
        margin-left: 0 !important;
    }

    .user-need-right {
        margin-right: 0 !important;
    }

    .user-needs-container {
        display: flex;
        padding: 20px 0;
    }

    .user-need-number {
        text-align: center;
        font-weight: 800;
        font-size: 24px;
    }

    .user-need-text {
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
        color: var(--grey-20);
    }

    .table-custom {
        margin-top: 20px;
    }

    td {
        text-align: center;
    }

    th {
        width: 25%;
    }

    .table-left-radius {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .table-right-radius {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background: var(--light2);
    }

    .storyboards-container {
        display: flex;
        justify-content: center;
    }

    .storyboard {
        width: 40%;
        margin: 20px;
    }

    figcaption {
        text-align: center;
        padding: 15px;
        font-size: 16px;
    }

}

/*desktop breakpoint*/
@media (min-width: 1100px) and (max-width: 1499px) {

    .easyglance-hero-section {
        padding-top: 60px;
    }


    .user-personas-container {
        display: flex;
        padding: 20px 0;
    }

    .user-persona, .user-need {
        width: 33.33%;
        padding: 20px;
        background: var(--light2);
        margin: 20px;
        border-radius: 6px;
    }

    .user-persona-image-container {
        text-align: center;
    }

    .user-persona-text-container {
        display: block;
    }

    .user-persona-image {
        width: 50%;
    }

    .user-persona-name {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }

    .user-persona-highlights {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .user-persona-description {
        font-size: 16px;
        padding: 20px 0;
        color: var(--grey-20);
    }

    .user-pain-point-heading {
        font-size: 16px;
        font-weight: 600;
    }

    .user-pain-point-description {
        font-size: 16px;
        color: var(--grey-20);
    }

    .user-need-left {
        margin-left: 0 !important;
    }

    .user-need-right {
        margin-right: 0 !important;
    }


    .user-needs-container {
        display: flex;
        padding: 20px 0;
    }

    .user-need-number {
        text-align: center;
        font-weight: 800;
        font-size: 24px;
    }

    .user-need-text {
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
        color: var(--grey-20);
    }

    .table-custom {
        margin-top: 20px;
    }

    td {
        text-align: center;
    }

    th {
        width: 25%;
    }

    .table-left-radius {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .table-right-radius {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background: var(--light2);
    }

    .storyboards-container {
        display: flex;
        justify-content: center;
    }

    .storyboard {
        width: 40%;
        margin: 20px;
    }

    figcaption {
        text-align: center;
        padding: 15px;
        font-size: 16px;
    }

}

/*large desktop breakpoint*/
@media (min-width: 1500px) {

    .easyglance-hero-section {
        padding-top: 60px;
    }

    .user-personas-container {
        display: flex;
        padding: 40px 0;
    }

    .user-persona, .user-need {
        width: 33.33%;
        padding: 20px;
        background: var(--light2);
        margin: 20px;
        border-radius: 8px;
    }

    .user-persona-image-container {
        text-align: center;
    }

    .user-persona-text-container {
        display: block;
    }

    .user-persona-image {
        width: 30%;
    }

    .user-persona-name {
        text-align: center;
        font-weight: 500;
        font-size: 28px;
    }

    .user-persona-highlights {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }

    .user-persona-description {
        font-size: 18px;
        padding: 20px 0;
        color: var(--grey-20);
    }

    .user-pain-point-heading {
        font-size: 18px;
        font-weight: 600;
    }

    .user-pain-point-description {
        font-size: 18px;
        color: var(--grey-20);
    }

    .user-need-left {
        margin-left: 0 !important;
    }

    .user-need-right {
        margin-right: 0 !important;
    }

    .user-needs-container {
        display: flex;
        padding: 40px 0;
    }


    .user-need-number {
        text-align: center;
        font-weight: 800;
        font-size: 28px;
    }

    .user-need-text {
        font-size: 18px;
        padding: 20px 0;
        text-align: center;
        color: var(--grey-20);
    }

    .table-custom {
        margin-top: 20px;
    }

    td {
        text-align: center;
    }

    th {
        width: 25%;
    }

    .table-left-radius {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .table-right-radius {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background: var(--light2);
    }

    .storyboards-container {
        display: flex;
        justify-content: center;
    }

    .storyboard {
        width: 40%;
        margin: 50px;
    }

    figcaption {
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }
}