:root{
    --blue: #2196f3;
    --dark: #203446;
    --light: #fafbfb;
    --light2: #f5f6f7;
}



/*mobile breakpoint*/
@media (max-width: 499px ) {


    .hello-section {
        padding: 20px 0;
        
    }

    

    

    .hello-text-container {
        padding: 20px;
    }

    .hello-greeting {
        font-weight: 700;
        font-size: 30px;
        
    }

    .hello-text {
        font-size: 16px;
        line-height: 30px;
        
    }

    .hello-link {
        font-size: 16px;
        line-height: 30px;
        color: var(--blue);
        font-weight: 500;
    }

    .hello-link:hover {
        color: var(--blue);
    }

    .projects-section {
        padding: 20px 0;
        
    }

    .projects-section-heading {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        
    }


    .projects-row {
        display: block;
    }

    .project-container {
        width: 100%;
        padding: 20px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .project-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .project-image {
        width: 100%;
        border-radius: 10px;
    }

    .project-title {
        font-weight: 600;
        font-size: 20px;
        padding-top: 5px;
    }

    .project-description {
        font-size: 14px;
        line-height: 24px;
        color: var(--grey-20);
    }



}

/*tablet breakpoint*/
@media (min-width: 500px ) and (max-width: 799px){



    .hello-section {
        padding: 20px 0;
        
    }

    

    

    .hello-text-container {
        padding: 50px 100px;
    }

    .hello-greeting {
        font-weight: 700;
        font-size: 40px;
        
    }

    .hello-text {
        font-size: 18px;
        line-height: 30px;
        
    }

    .hello-link {
        font-size: 16px;
        line-height: 30px;
        color: var(--blue);
        font-weight: 500;
    }

    .hello-link:hover {
        color: var(--blue);
    }

    .projects-section {
        padding: 20px 0;
        
    }

    .projects-section-heading {
        text-align: center;
        font-weight: 700;
        font-size: 34px;
        
        padding: 20px 0;
    }


    .projects-row {
        display: block;
    }

    .project-container {
        width: 100%;
        padding: 50px 100px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .project-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .project-image {
        width: 100%;
        border-radius: 15px;
    }

    .project-title {
        font-weight: 600;
        font-size: 22px;
        padding-top: 10px;
    }

    .project-description {
        font-size: 15px;
        line-height: 25px;
        color: var(--grey-20);
    }




}


/*large tablet breakpoint*/
@media (min-width: 800px ) and (max-width: 1099px){



    .hello-section {
        padding: 40px 0;
        
    }

    

    



    .hello-text-container {
        padding: 20px;
        
    }

    .hello-greeting {
        font-weight: 700;
        font-size: 48px;
        
    }

    .hello-text {
        font-size: 20px;
        line-height: 35px;
        
    }

    .hello-link {
        font-size: 20px;
        line-height: 35px;
        color: var(--blue);
        font-weight: 500;
    }

    .hello-link:hover {
        color: var(--blue);
    }

    .projects-section {
        padding: 20px 0;
        
    }

    .projects-section-heading {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        
        padding: 20px 0;
    }

    .projects-row {
        display: flex;
    }

    .project-container {
        width: 50%;
        padding: 40px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .project-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .project-image {
        width: 100%;
        border-radius: 20px;
    }

    .project-title {
        font-weight: 600;
        font-size: 24px;
        padding-top: 10px;
    }

    .project-description {
        font-size: 16px;
        line-height: 28px;
        color: var(--grey-20);
    }




}

/*desktop breakpoint*/
@media (min-width: 1100px ) and (max-width: 1499px) {


    .hello-section {
        padding: 40px 0;
        
    }

    

    



    .hello-text-container {
        padding: 20px;
        
    }

    .hello-greeting {
        font-weight: 700;
        font-size: 48px;
        
    }

    .hello-text {
        font-size: 20px;
        line-height: 35px;
        
    }

    .hello-link {
        font-size: 20px;
        line-height: 35px;
        color: var(--blue);
        font-weight: 500;
    }

    .hello-link:hover {
        color: var(--blue);
    }

    .projects-section {
        padding: 20px 0;
        
    }

    .projects-section-heading {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        
        padding: 50px 0;
    }

    .projects-row {
        display: flex;
    }

    .project-container {
        width: 50%;
        padding: 40px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .project-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .project-image {
        width: 100%;
        border-radius: 20px;
    }

    .project-title {
        font-weight: 600;
        font-size: 24px;
        padding-top: 10px;
    }

    .project-description {
        font-size: 16px;
        line-height: 28px;
        color: var(--grey-20);
    }




}


/*large desktop breakpoint*/
@media (min-width: 1500px ) {



    .hello-section {
        padding: 100px 0;
        
    }

    

    



    .hello-text-container {
        padding: 20px;
        
    }

    .hello-greeting {
        font-weight: 700;
        font-size: 64px;
        
    }

    .hello-text {
        font-size: 28px;
        line-height: 35px;
        
    }

    .hello-link {
        font-size: 20px;
        line-height: 35px;
        color: var(--blue);
        font-weight: 500;
    }

    .hello-link:hover {
        color: var(--blue);
    }

    .projects-section {
        padding: 20px 0;
        
    }

    .projects-section-heading {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        
        padding: 50px 0;
    }

    .projects-row {
        display: flex;
    }

    .project-container {
        width: 50%;
        padding: 80px 40px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .project-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .project-image {
        width: 100%;
        border-radius: 20px;
    }

    .project-title {
        font-weight: 600;
        font-size: 28px;
        padding-top: 10px;
    }

    .project-description {
        font-size: 18px;
        line-height: 30px;
        color: var(--grey-20);
    }



}