:root{
    --blue: #2196f3;
    --dark: #203446;
    --light: #fafbfb;
    --light2: #f5f6f7;
}



/*mobile breakpoint*/
@media (max-width: 499px ) {



    .header-image-section {
        padding: 20px 0;
    }

    .header-image {
        width: 100%;
        border-radius: 10px;
    }

    .title-section {
        padding: 10px 0;
    }

    .title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }

    .description {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }


    .content-section {
        padding: 20px 0;
        background: var(--light-98);
    }

    .content-section-small-heading {
        font-weight: 800;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }


    .content-section-heading {
        font-weight: 600;
        font-size: 20px;
        padding: 10px 0;
    }

    .content-section-text {
        font-size: 14px;
        line-height: 24px;
        color: var(--grey-20);
    }


    .feature-container {
        display: block;
        padding: 50px 0;
    }

    .feature-image-container {
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin: 0 20px;
    }

    .feature-image {
        width: 100%;
    }

    .feature-text-container {
        padding: 20px;
        text-align: center;
    }

    .feature-heading {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
    }

    .place-right {
        order: 0;
    }

    .extras-row {
        display: block;
    }

    .extra-item-container {
        width: 100%;
        padding: 20px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .extra-item-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .extra-item-image {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .extra-item-title {
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0;
    }

}

/*tablet breakpoint*/
@media (min-width: 500px ) and (max-width: 799px) {



    .header-image-section {
        padding: 20px 0;
    }

    .header-image {
        width: 100%;
        border-radius: 15px;
    }

    .title-section {
        padding: 20px 0;
    }

    .title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }

    .description {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }


    .content-section {
        padding: 40px 0;
        background: var(--light-98);
    }


    .content-section-small-heading {
        font-weight: 800;
        font-size: 17px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .content-section-heading {
        font-weight: 700;
        font-size: 22px;
        padding: 10px 0;
    }

    .content-section-text {
        font-size: 15px;
        line-height: 25px;
        color: var(--grey-20);
    }

    .feature-container {
        display: flex;
        align-items: center;
        padding: 50px 0;
    }

    .feature-image-container {
        width: 30%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .feature-image {
        width: 100%;
    }

    .feature-text-container {
        width: 70%;
        padding: 40px;
    }

    .feature-heading {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
    }

    .place-right {
        order: 1;
    }


    .extras-row {
        display: flex;
    }

    .extra-item-container {
        width: 50%;
        padding: 20px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .extra-item-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .extra-item-image {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .extra-item-title {
        font-weight: bold;
        font-size: 20px;
        padding: 10px 0;
    }

}

/*large tablet breakpoint*/
@media (min-width: 800px ) and (max-width: 1099px) {



    .header-image-section {
        padding: 20px 0;
    }

    .header-image {
        width: 100%;
        border-radius: 20px;
    }

    .title-section {
        padding: 20px 0;
    }

    .title {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    .description {
        font-weight: 500;
        font-size: 28px;
        text-align: center;
    }


    .content-section {
        padding: 50px 0;
        background: var(--light-98);
    }

    .content-section-small-heading {
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    .content-section-heading {
        font-weight: 700;
        font-size: 24px;
        padding: 20px 0;
    }

    .content-section-text {
        font-size: 16px;
        line-height: 28px;
        color: var(--grey-20);
    }

    .feature-container {
        display: flex;
        align-items: center;
        padding: 50px 0;
    }

    .feature-image-container {
        width: 30%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .feature-image {
        width: 100%;
    }

    .feature-text-container {
        width: 70%;
        padding: 40px;
    }

    .feature-heading {
        font-size: 24px;
        font-weight: bold;
        padding: 10px 0;
    }

    .place-right {
        order: 1;
    }

    .extras-row {
        display: flex;
    }

    .extra-item-container {
        width: 50%;
        padding: 20px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .extra-item-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .extra-item-image {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .extra-item-title {
        font-weight: bold;
        font-size: 24px;
        padding: 10px 0;
    }

}

/*desktop breakpoint*/
@media (min-width: 1100px ) and (max-width: 1499px) {



    .header-image-section {
        padding: 20px 0;
    }

    .header-image {
        width: 100%;
        border-radius: 20px;
    }

    .title-section {
        padding: 20px 0;
    }

    .title {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    .description {
        font-weight: 500;
        font-size: 28px;
        text-align: center;
    }


    .content-section {
        padding: 100px 0;
        background: var(--light-98);
    }

    .content-section-small-heading {
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .content-section-heading {
        font-weight: 600;
        font-size: 24px;
        padding: 20px 0;
    }

    .content-section-text {
        font-size: 16px;
        line-height: 28px;
        color: var(--grey-20);
    }

    .feature-container {
        display: flex;
        align-items: center;
        padding: 80px 0;
    }

    .feature-image-container {
        width: 30%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .feature-image {
        width: 100%;
    }

    .feature-text-container {
        width: 70%;
        padding: 40px;
    }

    .feature-heading {
        font-size: 24px;
        font-weight: bold;
        padding: 10px 0;
    }

    .place-right {
        order: 1;
    }

    .extras-row {
        display: flex;
    }

    .extra-item-container {
        width: 50%;
        padding: 20px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .extra-item-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .extra-item-image {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }

    .extra-item-title {
        font-weight: bold;
        font-size: 24px;
        padding: 15px 0;
    }


}

/*large desktop breakpoint*/
@media (min-width: 1500px ) {



    .header-image-section {
        padding: 40px 0;
    }

    .header-image {
        width: 100%;
        border-radius: 20px;
    }

    .title-section {
        padding: 40px 0;
    }

    .title {
        font-weight: 700;
        font-size: 64px;
        text-align: center;
    }

    .description {
        font-weight: 500;
        font-size: 36px;
        text-align: center;
    }


    .content-section {
        padding: 100px 0;
        background: var(--light-98);
    }

    .content-section-small-heading {
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .content-section-heading {
        font-weight: 600;
        font-size: 28px;
        padding: 20px 0;
    }

    .content-section-text {
        font-size: 18px;
        line-height: 30px;
        color: var(--grey-20);
    }

    .feature-container {
        display: flex;
        align-items: center;
        padding: 80px 0;
    }

    .feature-image-container {
        width: 30%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .feature-image {
        width: 100%;
    }

    .feature-text-container {
        width: 70%;
        padding: 40px;
    }

    .feature-heading {
        font-size: 30px;
        font-weight: bold;
        padding: 20px 0;
    }

    .place-right {
        order: 1;
    }

    .extras-row {
        display: flex;
    }

    .extra-item-container {
        width: 50%;
        padding: 20px;
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
    }

    .extra-item-container:hover {
        transform: scale(1.05);
        transition: all 200ms cubic-bezier(.02, .01, .47, 1);
        transition-delay: 0s !important;
    }

    .extra-item-image {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }

    .extra-item-title {
        font-weight: bold;
        font-size: 30px;
        padding: 20px 0;
    }

}