:root{
    --blue: #2196f3;
    --dark: #071e31;
    --light: #fafbfb;
    --light2: #f5f6f7;
}



/*mobile breakpoint*/
@media (max-width: 499px ) {



    .header-image-section {
        padding: 20px;
    }

    .header-image {
        width: 100%;
        border-radius: 10px;
    }

    .title-section {
        padding: 20px;
    }

    .title {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }

    .description {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }


    .content-section {
        padding: 20px;
    }

    .content-section-heading {
        font-family: 'DM Sans' , 'sans-serif';
        font-weight: 700;
        font-size: 22px;
        line-height: 36px;
        padding: 10px 0;
    }

    .content-section-text {
        font-size: 16px;
        line-height: 28px;
    }



}

/*tablet breakpoint*/
@media (min-width: 500px ) and (max-width: 799px) {



    .header-image-section {
        padding: 20px 100px;
    }

    .header-image {
        width: 100%;
        border-radius: 15px;
    }

    .title-section {
        padding: 20px 100px;
    }

    .title {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }

    .description {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }


    .content-section {
        padding: 40px 100px;
    }

    .content-section-heading {
        font-family: 'DM Sans' , 'sans-serif';
        font-weight: 700;
        font-size: 22px;
        line-height: 36px;
        padding: 10px 0;
    }

    .content-section-text {
        font-size: 16px;
        line-height: 28px;
    }



}

/*large tablet breakpoint*/
@media (min-width: 800px ) and (max-width: 1099px) {



    .header-image-section {
        padding: 20px 90px;
    }

    .header-image {
        width: 100%;
        border-radius: 20px;
    }

    .title-section {
        padding: 20px 90px;
    }

    .title {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    .description {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 500;
        font-size: 28px;
        text-align: center;
    }


    .content-section {
        padding: 50px 90px;
    }

    .content-section-heading {
        font-family: 'DM Sans' , 'sans-serif';
        font-weight: 700;
        font-size: 28px;
        line-height: 48px;
        padding: 20px 0;
    }

    .content-section-text {
        font-size: 18px;
        line-height: 30px;
    }

}

/*desktop breakpoint*/
@media (min-width: 1100px ) and (max-width: 1499px) {



    .header-image-section {
        padding: 20px 200px;
    }

    .header-image {
        width: 100%;
        border-radius: 20px;
    }

    .title-section {
        padding: 20px 200px;
    }

    .title {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    .description {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 500;
        font-size: 28px;
        text-align: center;
    }


    .content-section {
        padding: 100px 200px;
    }

    .content-section-heading {
        font-family: 'DM Sans' , 'sans-serif';
        font-weight: 700;
        font-size: 28px;
        line-height: 48px;
        padding: 20px 0;
    }

    .content-section-text {
        font-size: 18px;
        line-height: 30px;
    }

}

/*large desktop breakpoint*/
@media (min-width: 1500px ) {



    .header-image-section {
        padding: 40px 300px;
    }

    .header-image {
        width: 100%;
        border-radius: 20px;
    }

    .title-section {
        padding: 40px 300px;
    }

    .title {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 700;
        font-size: 64px;
        text-align: center;
    }

    .description {
        font-family: 'DM Sans', 'sans-serif';
        font-weight: 500;
        font-size: 36px;
        text-align: center;
    }


    .content-section {
        padding: 100px 300px;
    }

    .content-section-heading {
        font-family: 'DM Sans' , 'sans-serif';
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        padding: 20px 0;
    }

    .content-section-text {
        font-size: 24px;
        line-height: 30px;
    }

}