:root{
    --blue: #2196f3;
    --dark: #203446;
    --light: #fafbfb;
    --light2: #f5f6f7;
    --themignightsub-accent: #FF644E;
    --easyglance-background: #fcf3d9;
    --themidnightsub-background: #ff8471;
    --themidnightsub-background-5: #ff8a78 ;
}

.white {
    color: var(--white);
}

.background-light-97 {
    background: var(--light-97);
}

.themidnightsub-accent {
    color: var(--themignightsub-accent);
}

.themidnightsub-background {
    background: var(--themidnightsub-background);
}

.themidnightsub-background-5 {
    background: var(--themidnightsub-background-5);
}

.dark-background {
    background: var(--dark);
}

.audience-illustrations-row {
    text-align: center;
}

.audience-illustration-container {
    padding: 20px 50px !important;
}

.college-student-illustration {
    width: 100%;
}

.night-sight-worker-illustration {
    width: 65%;
}

.audience-illustration-heading {
    padding-top: 20px;
}




/*mobile breakpoint*/
@media (max-width: 499px) {

    .content-row {
        display: block;
        margin: 20px 0;
    }

    .grid-content-container {
        width: 100%;
        padding: 20px;
        background: var(--light2);
        border-radius: 10px;
    }

    .grid-content-container-left {
        margin-bottom: 20px;
    }

    .grid-content-container-right {
        margin-top: 20px;
    }

    .grid-content-icon {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .grid-content-heading {
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
    }

    .user-research-image {
        background: var(--light2);
        margin: 20px 0;
    }

    .user-needs-container {
        display: block;
    }

    .user-persona, .user-need {
        width: 100%;
        padding: 20px;
        background: var(--light2);
        border-radius: 10px;
        margin: 20px 0;
    }


    .user-need-number {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }

    .user-need-text {
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
    }

    .user-personas-container {
        display: block;
    }

    .user-persona-image-container {
        text-align: center;
    }

    .user-persona-text-container {
        display: block;
    }

    .user-persona-image {
        width: 30%;
        border-radius: 50%;
    }

    .user-persona-name {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        margin-top: 10px;
    }

    .user-persona-highlights {
        text-align: center;
        font-size: 16px;
    }


    .user-pain-point-description {
        font-size: 16px;
        margin-top: 20px;
    }

    .sitemap {
        background: var(--light2);
        margin-top: 20px;
    }

    .wireframe {
        background: var(--themignightsub-accent);
        margin-top: 20px;
    }

    .moodboard {
        margin-top: 20px;
    }

    .grid-2-container {
        display: block;
    }

    .grid-2-item-container {
        width: 100%;
    }

    .grid-image {
        width: 100%;
    }

}

/*tablet breakpoint*/
@media (min-width: 500px) and (max-width: 799px) {

    .content-row {
        display: flex;
        margin: 40px 0;
    }

    .grid-content-container {
        width: 50%;
        padding: 20px;
        background: var(--light2);
        border-radius: 10px;
    }

    .grid-content-container-left {
        margin-right: 20px;
    }

    .grid-content-container-right {
        margin-left: 20px;
    }

    .grid-content-icon {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .grid-content-heading {
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
    }

    .user-research-image {
        background: var(--light2);
        margin: 40px 0;
    }

    .user-need {
        width: 33.33%;
        padding: 10px;
        background: var(--light2);
        margin: 10px;
        border-radius: 20px;
    }

    .user-needs-container {
        display: flex;
    }

    .user-need-number {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }

    .user-need-text {
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
    }

    .user-personas-container {
        display: block;
    }

    .user-persona {
        width: 100%;
        padding: 20px;
        background: var(--light2);
        border-radius: 15px;
        margin: 20px 0;
        display: flex;
        align-items: center;
    }

    .user-persona-image-container {
        text-align: center;
        width: 30%;
    }

    .user-persona-text-container {
        display: block;
        width: 70%;
    }

    .user-persona-image {
        width: 70%;
        border-radius: 50%;
    }

    .user-persona-name {
        font-weight: 500;
        font-size: 20px;
    }

    .user-persona-highlights {
        font-size: 16px;
    }

    .user-pain-point-description {
        font-size: 16px;
    }

    .sitemap {
        background: var(--light2);
        margin-top: 20px;
    }

    .wireframe {
        background: var(--themignightsub-accent);
        margin-top: 20px;
    }

    .moodboard {
        margin-top: 20px;
    }


    .grid-2-container {
        display: flex;
        align-items: center;
    }

    .grid-2-item-container {
        width: 50%;
    }

    .grid-image {
        width: 100%;
    }

    
}

/*large tablet breakpoint*/
@media (min-width: 800px) and (max-width: 1099px) {

    .content-row {
        display: flex;
        margin: 40px 0;
    }

    .grid-content-container {
        width: 50%;
        padding: 20px;
        background: var(--light2);
        border-radius: 10px;
    }

    .grid-content-container-left {
        margin-right: 20px;
    }

    .grid-content-container-right {
        margin-left: 20px;
    }

    .grid-content-icon {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .grid-content-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
    }

    .user-research-image {
        background: var(--light2);
        margin: 40px 0;
    }

    .user-need {
        width: 33.33%;
        padding: 20px;
        background: var(--light2);
        margin: 20px;
        border-radius: 20px;
    }

    .user-needs-container {
        display: flex;
        padding: 20px 0;
    }

    .user-need-number {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }

    .user-need-text {
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
    }

    .user-personas-container {
        display: block;
    }

    .user-persona {
        width: 100%;
        padding: 20px;
        background: var(--light2);
        border-radius: 15px;
        margin: 20px 0;
        display: flex;
        align-items: center;
    }

    .user-persona-image-container {
        text-align: center;
        width: 40%;
    }

    .user-persona-text-container {
        display: block;
        width: 60%;
    }

    .user-persona-image {
        width: 50%;
        border-radius: 50%;
    }

    .user-persona-name {
        font-weight: 500;
        font-size: 20px;
    }

    .user-persona-highlights {
        font-size: 16px;
    }

    .user-pain-point-description {
        font-size: 16px;
    }

    .sitemap {
        background: var(--light2);
        margin-top: 40px;
    }

    .wireframe {
        background: var(--themignightsub-accent);
        margin-top: 40px;
    }

    .moodboard {
        margin-top: 40px;
    }

    .grid-2-container {
        display: flex;
        align-items: center;
    }

    .grid-2-item-container {
        width: 50%;
    }

    .grid-image {
        width: 100%;
    }

}

/*desktop breakpoint*/
@media (min-width: 1100px) and (max-width: 1499px) {

    .content-row {
        display: flex;
        margin: 40px 0;
    }

    .grid-content-container {
        width: 50%;
        padding: 20px;
        background: var(--light2);
        border-radius: 10px;
    }

    .grid-content-container-left {
        margin-right: 20px;
    }

    .grid-content-container-right {
        margin-left: 20px;
    }

    .grid-content-icon {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .grid-content-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
    }

    .user-research-image {
        background: var(--light2);
        margin: 40px 0;
    }

    .user-persona, .user-need {
        width: 33.33%;
        padding: 20px;
        background: var(--light2);
        margin: 20px;
        border-radius: 20px;
    }

    .user-needs-container {
        display: flex;
        padding: 20px 0;
    }

    .user-need-number {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }

    .user-need-text {
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
    }

    .user-personas-container {
        display: flex;
        padding: 20px 0;
    }

    .user-persona-image-container {
        text-align: center;
    }

    .user-persona-text-container {
        display: block;
    }

    .user-persona-image {
        width: 35%;
        border-radius: 50%;
    }

    .user-persona-name {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        margin-top: 10px;
    }

    .user-persona-highlights {
        text-align: center;
        font-size: 16px;
    }

    .user-pain-point-description {
        font-size: 16px;
        margin-top: 20px;
    }

    .sitemap {
        background: var(--light2);
        margin-top: 40px;
    }

    .wireframe {
        background: var(--themignightsub-accent);
        margin-top: 40px;
    }

    .moodboard {
        margin-top: 40px;
    }

    .grid-2-container {
        display: flex;
        align-items: center;
    }

    .grid-2-item-container {
        width: 50%;
    }

    .grid-image {
        width: 100%;
    }

}

/*large desktop breakpoint*/
@media (min-width: 1500px) {

    .content-row {
        display: flex;
        margin: 40px 0;
    }

    .grid-content-container {
        width: 50%;
        padding: 20px;
        background: var(--light2);
        border-radius: 10px;
    }

    .grid-content-container-left {
        margin-right: 20px;
    }

    .grid-content-container-right {
        margin-left: 20px;
    }

    .grid-content-icon {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .grid-content-heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
    }

    .user-research-image {
        background: var(--light2);
        margin: 40px 0;
    }

    .user-persona, .user-need {
        width: 33.33%;
        padding: 20px;
        background: var(--light2);
        margin: 20px;
        border-radius: 20px;
    }

    .user-needs-container {
        display: flex;
        padding: 40px 0;
    }


    .user-need-number {
        text-align: center;
        font-weight: 500;
        font-size: 28px;
    }

    .user-need-text {
        font-size: 20px;
        padding: 20px 0;
        text-align: center;
    }

    .user-personas-container {
        display: flex;
        padding: 40px 0;
    }

    .user-persona-image-container {
        text-align: center;
    }

    .user-persona-text-container {
        display: block;
    }

    .user-persona-image {
        width: 30%;
        border-radius: 50%;
    }

    .user-persona-name {
        text-align: center;
        font-weight: 500;
        font-size: 28px;
        margin-top: 10px;
    }

    .user-persona-highlights {
        text-align: center;
        font-size: 20px;
    }

    .user-pain-point-description {
        font-size: 20px;
        margin-top: 20px;
    }

    .sitemap {
        background: var(--light2);
        margin-top: 40px;
    }

    .wireframe {
        background: var(--themignightsub-accent);
        margin-top: 40px;
    }

    .moodboard {
        margin-top: 40px;
    }


    .grid-2-container {
        display: flex;
        align-items: center;
    }

    .grid-2-item-container {
        width: 50%;
    }

    .grid-image {
        width: 100%;
    }

}